[Unit]
Description=Immich Machine Learning
After=network-online.target
StartLimitBurst=5
StartLimitIntervalSec=60

[Container]
ContainerName=immich-ml
Image=ghcr.io/immich-app/immich-machine-learning:release
AutoUpdate=registry

UserNS=keep-id

Environment=IMMICH_ML_DEVICE=cpu
Environment=HOME=/tmp
Environment=HF_HOME=/tmp/hf_cache
Environment=MPLCONFIGDIR=/tmp/matplotlib

Memory=6G

Volume=%h/srv/@immich/model-cache:/cache:Z
Network=immich-internal.network

Volume=/etc/localtime:/etc/localtime:ro

[Install]
WantedBy=default.target

[Service]
CPUWeight=20
Restart=on-failure
RestartSec=5
